<div id='rc-upload-template'>
    <div class="rc-upload w-popup">

        <div class="rc-upload-file-drop-zone">
            <p>
                <i class="material-icons">&#xE24D;</i>
                Также вы можете перетащить <br>
                файл на любое место<br>
                окна задачи
            </p>
        </div>

        <input
                name="filesInput"
                type="file"
                data-show-file-list="false"
        />


        <div class="load-process rc-loader">
            <div class="wrapper size-2">
                <div class="pie spinner"></div>
                <div class="pie filler"></div>
                <div class="mask"></div>
            </div>
        </div>
    </div>
</div>