<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{htmlWebpackPlugin.options.title}}</title>
    {{#if htmlWebpackPlugin.options.requireScript}}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.6/require.min.js"></script>
    {{/if}}
    {{#if htmlWebpackPlugin.options.cdnScript}}
        <script type="text/javascript" src="{{htmlWebpackPlugin.options.cdnScript}}"></script>
    {{/if}}
</head>
<body>
<header>
    <h1>{{htmlWebpackPlugin.options.title}}</h1>
</header>
<main class="theme-dark">
    <div class="container"></div>
    <button id="sb">КНОПКИ</button>
    <button id="sb1">КНОПКИ</button>
    {{#if htmlWebpackPlugin.options.requireScript}}
        <script>
            require(['{{htmlWebpackPlugin.options.requireScript}}'], rcButtons => {
                const buttons = [
                    {
                        name: 'Отменить всё',
                        date: '11.11.2011',
                        slug: 'cancel',
                    }
                ];

                const fields = [
                    {
                        name: 'отмена-1',
                        date: '12.12.2012',
                        slug: 'cancel-1',
                    },
                    {
                        name: 'отмена-2',
                        date: '13.03.2013',
                        slug: 'cancel-2',
                    }
                ];

                document.getElementById('sb').addEventListener('click', e => {
                    rcButtons({
                        selector: '.container',
                        buttons: buttons,
                        title: 'Изменить статус',
                        fields: fields,
                        pageX: e.pageX,
                        pageY: e.pageY
                    }, value => {
                        console.log(value);
                    });
                });

                document.getElementById('sb1').addEventListener('click', e => {
                      rcButtons({
                            selector: '.container',
                            template: '#: name # # if (typeof date !== "undefined") {# (#: date # ) # } #',
                            buttons: buttons,
                            title: 'Изменить статус',
                            fields: fields,
                            pageX: e.pageX,
                            pageY: e.pageY,
                        }, value => {
                            console.log(value);
                        });
                })
            })
        </script>
    {{/if}}
</main>
</body>
</html>
