<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{htmlWebpackPlugin.options.title}}</title>
    {{#if htmlWebpackPlugin.options.requireScript}}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.6/require.min.js"></script>
    {{/if}}
    {{#if htmlWebpackPlugin.options.cdnScript}}
        <script type="text/javascript" src="{{htmlWebpackPlugin.options.cdnScript}}"></script>
    {{/if}}
    <style>
        main {
            height: 2000px;
        }

        main #sb {
            margin-top: 1000px;
        }
    </style>
</head>
<body>
<header>
    <h1>{{htmlWebpackPlugin.options.title}}</h1>
</header>
<main class="theme-dark">
    <div class="container"></div>
    <button id="sb">КНОПКИ</button>
    {{#if htmlWebpackPlugin.options.requireScript}}
        <script>
            require(['{{htmlWebpackPlugin.options.requireScript}}'], function (rcButtons) {
                var button;
                var rrw = ['Пипица', 'Хабара', 'Мимозыря', 'Ендовочник', 'Яга', 'Волглый', 'Алкать', 'Анахорет', 'Яхон', 'Шепотник', 'Ужик', 'Торок', 'Анчутки', 'Титла', 'Талан', 'Ококоветь', 'Супря', 'Студенец', 'Странь', 'Наопако', 'Мужатица', 'Любительный', 'Звездочетство', 'Анчутки', 'Вавакать', 'Взбутусить', 'Выдень', 'Копырзиться', 'Наопако', 'Нюни', 'Огуртво', 'Ономнясь', 'Сарынь', 'Странь', 'Сычёный'];
                var buttons = [
                    {
                        name: 'Отменить всё что можно',
                        date: '1111',
                        slug: 'cancel',
                    }
                ];

                var items = [];
                var i = 0;
                while (i < 3 + parseInt(Math.random() * 10)) {
                    items.push({
                        slug: i + 1,
                        name: rrw[parseInt(Math.random() * rrw.length)]
                    });
                    i++;
                }

                document.getElementById('sb').addEventListener('click', function (e) {
                    if (!button) {
                        button = rcButtons({
                            template: '#: name # # if (typeof date !== "undefined") {# (#: date # ) # } #',
                            selector: '.container',
                            buttons: buttons,
                            title: 'Изменить статус',
                            fields: items,
                            pageX: e.pageX,
                            pageY: e.pageY,
                        }, function(value) {
                            console.log(value);
                            button = null;
                        });
                    }
                })
            })
        </script>
    {{/if}}
</main>
</body>
</html>