body.theme-default::-webkit-scrollbar {
  width: 20px;
  height: 20px;
}
body.theme-default::-webkit-scrollbar-track,
body.theme-default::-webkit-scrollbar-corner {
  background-color: #edeef0;
  width: 20px;
  -webkit-box-shadow: none;
  box-shadow: none;
}
body.theme-default::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.1);
  border: 8px solid #edeef0;
  border-radius: 10px;
  -webkit-box-shadow: none;
  box-shadow: none;
}
body.theme-default::-webkit-scrollbar-thumb:hover {
  border-right-width: 6px;
  border-left-width: 6px;
}
body.theme-default::-webkit-scrollbar-thumb:horizontal {
  min-width: 40px;
}
body.theme-default::-webkit-scrollbar-thumb:vertical {
  min-height: 40px;
}
body.theme-default .simple-paginator li button {
  color: rgba(0, 0, 0, 0.7);
}
body.theme-default .simple-paginator li button:hover {
  background-color: rgba(62, 54, 32, 0.05);
}
body.theme-default .simple-paginator li button.active {
  color: rgba(0, 0, 0, 0.8);
  background-color: rgba(62, 54, 32, 0.15);
}
body.theme-default .simple-paginator li button.active:hover {
  background-color: transparent;
}
body.theme-default .simple-select {
  font-family: 'Roboto';
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
  line-height: normal;
  text-transform: none;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.7);
  border-bottom-color: #d4d4d4;
}
body.theme-default .simple-select.editable:hover {
  background-color: rgba(62, 54, 32, 0.05);
}
body.theme-default .simple-link {
  color: #6699ff;
}
body.theme-default .circle-button {
  background-color: transparent;
}
body.theme-default .circle-button i {
  color: #6699ff;
}
body.theme-default .circle-button:hover {
  background-color: #6699ff;
}
body.theme-default .circle-button:hover i {
  color: #fff;
}
body.theme-default .white-button {
  color: #6699ff;
  border-color: #6699ff;
  font-family: 'Roboto Medium', 'Roboto Regular', 'Roboto';
  font-weight: 500;
  font-style: normal;
  font-size: 11px;
  line-height: normal;
  text-transform: uppercase;
  text-decoration: none;
}
body.theme-default .white-button:hover {
  background-color: #6699ff;
  color: #fff;
}
body.theme-default .white-button.attention-mode {
  color: #e68a00;
  border-color: #e68a00;
}
body.theme-default .white-button.attention-mode:hover {
  background-color: #e68a00;
  color: #fff;
}
body.theme-default .white-button[disabled] {
  color: rgba(0, 0, 0, 0.4);
}
body.theme-default .white-button[disabled]:hover {
  background-color: transparent;
}
body.theme-default .blue-button {
  -moz-box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.098);
  -webkit-box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.098);
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.098);
  font-family: 'Roboto';
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  line-height: normal;
  text-transform: none;
  text-decoration: none;
  background-color: #6699ff;
  color: white;
}
body.theme-default .blue-button:hover {
  -webkit-filter: saturate(50%);
  filter: saturate(50%);
}
body.theme-default .blue-button[disabled] {
  background-color: #ffffff;
  color: rgba(0, 0, 0, 0.4);
}
body.theme-default .font-22-headline-1 {
  font-family: 'Roboto Medium', 'Roboto Regular', 'Roboto';
  font-weight: 500;
  font-style: normal;
  font-size: 22px;
  line-height: normal;
  text-transform: none;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.7);
}
body.theme-default .main-container::-webkit-scrollbar {
  width: 20px;
  height: 20px;
}
body.theme-default .main-container::-webkit-scrollbar-track,
body.theme-default .main-container::-webkit-scrollbar-corner {
  background-color: #edeef0;
  width: 20px;
  -webkit-box-shadow: none;
  box-shadow: none;
}
body.theme-default .main-container::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.1);
  border: 8px solid #edeef0;
  border-radius: 10px;
  -webkit-box-shadow: none;
  box-shadow: none;
}
body.theme-default .main-container::-webkit-scrollbar-thumb:hover {
  border-right-width: 6px;
  border-left-width: 6px;
}
body.theme-default .main-container::-webkit-scrollbar-thumb:horizontal {
  min-width: 40px;
}
body.theme-default .main-container::-webkit-scrollbar-thumb:vertical {
  min-height: 40px;
}
body.theme-default .main-container .container .col-lite-menu li {
  font-family: 'Roboto';
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
  line-height: normal;
  text-transform: none;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.5);
}
body.theme-default .main-container .container .col-lite-menu li i.counter {
  background-color: rgba(223, 226, 232, 0.6);
  color: rgba(0, 0, 0, 0.8);
}
body.theme-default .main-container .container .col-lite-menu li .remove-it {
  color: rgba(0, 0, 0, 0.4);
}
body.theme-default .main-container .container .col-lite-menu li .remove-it:hover {
  background-color: rgba(62, 54, 32, 0.05);
}
body.theme-default .main-container .container .col-lite-menu li.check-mode::after {
  background-color: #ffffff;
  -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.5);
}
body.theme-default .main-container .container .col-lite-menu li.check-mode::before {
  background-color: rgba(0, 0, 0, 0.3);
}
body.theme-default .main-container .container .col-lite-menu li.check-mode.checked::before {
  background-color: #6699ff;
}
body.theme-default .main-container .container .col-lite-menu li.check-mode.checked::after {
  background-color: #6699ff;
}
body.theme-default .main-container .container .col-lite-menu li.check-mode.checked:hover::after {
  background-color: #80a9ff;
}
body.theme-default .main-container .container .col-lite-menu li:hover {
  color: rgba(0, 0, 0, 0.5);
  background-color: rgba(62, 54, 32, 0.05);
}
body.theme-default .main-container .container .col-lite-menu.link-mode li {
  color: rgba(0, 0, 0, 0.7);
}
body.theme-default .main-container .container .col-lite-menu.link-mode li a {
  color: rgba(0, 0, 0, 0.7);
}
body.theme-default .main-container .container .col-lite-menu.link-mode li.active {
  background-color: rgba(62, 54, 32, 0.15);
}
body.theme-default .main-container .container .col-lite-menu.small-size li {
  font-family: 'Roboto Medium', 'Roboto Regular', 'Roboto';
  font-weight: 500;
  font-style: normal;
  font-size: 11px;
  line-height: normal;
  text-transform: none;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.4);
}
body.theme-default .main-container .container .col-lite-menu.small-size li:hover {
  background-color: transparent;
  color: rgba(0, 0, 0, 0.5);
}
body.theme-default .main-container .container .col-lite-menu.small-size li a {
  color: rgba(0, 0, 0, 0.5);
}
body.theme-default .main-container .container .col-lite-menu.small-size li a.gray {
  color: rgba(0, 0, 0, 0.4);
}
body.theme-default .main-container .container .col-lite-menu.small-size li a:hover {
  color: #6699ff;
}
body.theme-default .main-container .container .col-lite-menu.social-mode li a {
  fill: rgba(0, 0, 0, 0.4);
}
body.theme-default .main-container .container .col-lite-menu.social-mode li a:hover {
  fill: #6699ff;
}
body.theme-default .main-container .container .left-out-col::-webkit-scrollbar {
  width: 20px;
  height: 20px;
}
body.theme-default .main-container .container .left-out-col::-webkit-scrollbar-track,
body.theme-default .main-container .container .left-out-col::-webkit-scrollbar-corner {
  background-color: transparent;
  width: 20px;
  -webkit-box-shadow: none;
  box-shadow: none;
}
body.theme-default .main-container .container .left-out-col::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.1);
  border: 8px solid transparent;
  border-radius: 10px;
  -webkit-box-shadow: none;
  box-shadow: none;
}
body.theme-default .main-container .container .left-out-col::-webkit-scrollbar-thumb:hover {
  border-right-width: 6px;
  border-left-width: 6px;
}
body.theme-default .main-container .container .left-out-col::-webkit-scrollbar-thumb:horizontal {
  min-width: 40px;
}
body.theme-default .main-container .container .left-out-col::-webkit-scrollbar-thumb:vertical {
  min-height: 40px;
}
body.theme-default .main-container .container .left-out-col::-webkit-scrollbar {
  width: 0;
  height: 0;
}
body.theme-default .main-container .container .left-out-col::-webkit-scrollbar-track,
body.theme-default .main-container .container .left-out-col::-webkit-scrollbar-corner {
  width: 0;
}
body.theme-default .main-container .container .left-out-col::-webkit-scrollbar-thumb {
  border-width: 1px;
}
body.theme-default .main-container .container .left-out-col::-webkit-scrollbar-thumb:horizontal {
  min-width: 0;
}
body.theme-default .main-container .container .left-out-col::-webkit-scrollbar-thumb:vertical {
  min-height: 0;
}
body.theme-default .main-container .container .left-out-col .divider {
  border-bottom-color: rgba(223, 226, 232, 0.6);
}
body.theme-default .main-container .container .left-out-col .divider i {
  background-color: #edeef0;
  color: rgba(0, 0, 0, 0.4);
}
body.theme-default .simple-15-text {
  font-family: 'Roboto';
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  line-height: normal;
  text-transform: none;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.7);
}
body.theme-default .simple-13-text {
  font-family: 'Roboto';
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
  line-height: normal;
  text-transform: none;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.7);
}
body.theme-default .small-gray-label {
  font-family: 'Roboto';
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
  line-height: normal;
  text-transform: none;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.5);
}
body.theme-default .small-gray-label a {
  color: #6699ff;
}
body.theme-default .simple-black-link {
  font-family: 'Roboto Medium', 'Roboto Regular', 'Roboto';
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: normal;
  text-transform: none;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8);
}
body.theme-default .simple-black-link:hover {
  color: #6699ff;
}
body.theme-default .k-maskedtextbox input,
body.theme-default .simple-input {
  background: none;
  font-family: 'Roboto';
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  line-height: normal;
  text-transform: none;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.7);
  border-color: #d4d4d4;
}
body.theme-default .k-maskedtextbox input:focus,
body.theme-default .simple-input:focus {
  background: none;
}
body.theme-default .k-maskedtextbox input::placeholder,
body.theme-default .simple-input::placeholder {
  color: rgba(0, 0, 0, 0.5);
}
body.theme-default .k-maskedtextbox input::-webkit-input-placeholder,
body.theme-default .simple-input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: rgba(0, 0, 0, 0.5);
  opacity: .5;
}
body.theme-default .k-maskedtextbox input + i.line,
body.theme-default .simple-input + i.line {
  border-bottom-color: #6699ff;
}
body.theme-default .k-maskedtextbox input.big-title,
body.theme-default .simple-input.big-title {
  border-color: #d4d4d4;
  background-color: #ffffff;
  color: rgba(0, 0, 0, 0.7);
  font-family: 'Roboto Light', 'Roboto Regular', 'Roboto';
  font-weight: 300;
  font-style: normal;
  font-size: 24px;
  line-height: normal;
  text-transform: none;
  text-decoration: none;
}
body.theme-default .k-maskedtextbox input.big-title:focus,
body.theme-default .simple-input.big-title:focus {
  color: rgba(0, 0, 0, 0.7);
  border-color: rgba(102, 153, 255, 0.52);
}
body.theme-default .k-maskedtextbox input.big-title:hover:not(:focus),
body.theme-default .simple-input.big-title:hover:not(:focus) {
  border-color: rgba(62, 54, 32, 0.05);
  color: rgba(0, 0, 0, 0.7);
}
body.theme-default .k-maskedtextbox input.big-title[disabled],
body.theme-default .simple-input.big-title[disabled] {
  border: none;
}
body.theme-default .k-maskedtextbox input.big-title::placeholder,
body.theme-default .simple-input.big-title::placeholder {
  color: rgba(0, 0, 0, 0.5);
}
body.theme-default .simple-textarea:focus {
  border-color: rgba(102, 153, 255, 0.52);
}
body.theme-default .simple-textarea:hover:not(:focus) {
  border-color: #d4d4d4;
}
body.theme-default .simple-textarea[disabled] {
  border: none;
}
body.theme-default .simple-textarea::placeholder {
  color: rgba(0, 0, 0, 0.5);
}
body.theme-default .simple-select-language-button button span {
  font-family: 'Roboto';
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  line-height: normal;
  text-transform: none;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.5);
}
body.theme-default .simple-select-language-button button:hover {
  background-color: rgba(62, 54, 32, 0.05);
}
body.theme-default .simple-placeholder-label {
  color: rgba(0, 0, 0, 0.5);
}
body.theme-default .simple-html-text.preview {
  border-color: #d4d4d4;
}
body.theme-default .simple-html-text.preview:after {
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
body.theme-default .simple-html-text.preview.changable:hover:before {
  background-color: rgba(62, 54, 32, 0.05);
}
body.theme-default .error-label {
  font-family: 'Roboto';
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
  line-height: normal;
  text-transform: none;
  text-decoration: none;
  color: rgba(230, 0, 0, 0.7);
}
body.theme-default .input-with-icon .icon {
  color: rgba(0, 0, 0, 0.4);
}
body.theme-default .small-text {
  font-family: 'Roboto Medium', 'Roboto Regular', 'Roboto';
  font-weight: 500;
  font-style: normal;
  font-size: 11px;
  line-height: normal;
  text-transform: none;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.5);
}
body.theme-default .small-text .material-icons {
  font-size: 15px;
}
body.theme-default .small-text a {
  color: #6699ff;
}
body.theme-default .simple-form .validation-summary-errors ul li {
  font-family: 'Roboto';
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
  line-height: normal;
  text-transform: none;
  text-decoration: none;
  color: rgba(230, 0, 0, 0.7);
}
body.theme-default .simple-big-form .simple-form .fields > div {
  border-color: #d4d4d4;
}
body.theme-default .simple-big-form .simple-form .fields > div .value-label {
  font-family: 'Roboto';
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  line-height: normal;
  text-transform: none;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.7);
  border-bottom-color: #d4d4d4;
}
body.theme-default .simple-big-form .simple-form .fields > div .value-label.editable:hover {
  background-color: rgba(62, 54, 32, 0.05);
}
body.theme-default .simple-big-form .simple-form .fields > div .title[for] {
  font-family: 'Roboto';
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  line-height: normal;
  text-transform: none;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.7);
}
body.theme-default .simple-big-form .bottom-buttons {
  border-color: #d4d4d4;
  background-color: rgba(102, 153, 255, 0.05);
}
body.theme-default .simple-load-any {
  font-family: 'Roboto';
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  line-height: normal;
  text-transform: none;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.5);
}
body.theme-default .simple-load-any:hover {
  color: #6699ff;
}
body.theme-default .simple-tree li {
  font-family: 'Roboto';
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
  line-height: normal;
  text-transform: none;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.7);
}
body.theme-default .simple-tree li .toggle-item i {
  color: rgba(0, 0, 0, 0.5);
}
body.theme-default .simple-tree li .toggle-item:hover {
  background-color: rgba(62, 54, 32, 0.05);
}
body.theme-default .simple-tree li label i:before {
  font-family: 'Roboto';
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
  line-height: normal;
  text-transform: none;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.5);
}
body.theme-default .simple-tree li label:hover {
  background-color: rgba(62, 54, 32, 0.05);
}
body.theme-default .simple-tree li.selected > label {
  background-color: rgba(62, 54, 32, 0.1);
}
body.theme-default .inline-popup-container {
  background-color: #e8ebee;
}
body.theme-default .inline-popup-container > div {
  background-color: #ffffff;
  -moz-box-shadow: 0 10px 35px rgba(80, 118, 156, 0.35);
  -webkit-box-shadow: 0 10px 35px rgba(80, 118, 156, 0.35);
  box-shadow: 0 10px 35px rgba(80, 118, 156, 0.35);
}
body.theme-default .inline-popup-container > div .title {
  color: rgba(0, 0, 0, 0.7);
}
body.theme-default .inline-popup-container > div .description {
  font-family: 'Roboto';
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  line-height: normal;
  text-transform: none;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.5);
}
body.theme-default .loader-container .loader:before {
  background-color: #57f08c;
}
body.theme-default input[type="checkbox"] + label {
  font-family: 'Roboto';
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
  line-height: normal;
  text-transform: none;
  text-decoration: none;
  background: none;
  color: rgba(0, 0, 0, 0.7);
}
body.theme-default input[type="checkbox"] + label:before {
  color: rgba(0, 0, 0, 0.3);
}
body.theme-default input[type="checkbox"]:checked + label:before {
  color: #6699ff;
}
body.theme-default input[type="checkbox"][disabled] + label:before,
body.theme-default input[type="checkbox"][disabled] + label {
  color: rgba(0, 0, 0, 0.4);
}
body.theme-default input[type="radio"] + label {
  font-family: 'Roboto';
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
  line-height: normal;
  text-transform: none;
  text-decoration: none;
  background: none;
  color: rgba(0, 0, 0, 0.7);
}
body.theme-default input[type="radio"] + label:before {
  color: rgba(0, 0, 0, 0.3);
}
body.theme-default input[type="radio"]:checked + label:before {
  color: #6699ff;
}
body.theme-default input[type="radio"][disabled] + label:before,
body.theme-default input[type="radio"][disabled] + label {
  color: rgba(0, 0, 0, 0.4);
}
body.theme-default .left-menu {
  background-color: #e8ebee;
  border-right-color: #d4d4d4;
}
body.theme-default .left-menu .to-home span {
  font-family: 'Roboto';
  font-weight: 900;
  font-style: normal;
  font-size: 12px;
  line-height: normal;
  text-transform: none;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.7);
  letter-spacing: 2px;
}
body.theme-default .left-menu .theme-checkout .split {
  border-bottom-color: #24282f87;
}
body.theme-default .left-menu .theme-checkout button span {
  font-family: 'Roboto';
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
  line-height: normal;
  text-transform: none;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.5);
  letter-spacing: 2px;
}
body.theme-default .left-menu .theme-checkout button span.night {
  color: rgba(255, 255, 255, 0.5);
}
body.theme-default .left-menu .theme-checkout button:hover {
  background-color: rgba(62, 54, 32, 0.05);
}
body.theme-default .left-menu .menu::-webkit-scrollbar {
  width: 20px;
  height: 20px;
}
body.theme-default .left-menu .menu::-webkit-scrollbar-track,
body.theme-default .left-menu .menu::-webkit-scrollbar-corner {
  background-color: #e8ebee;
  width: 20px;
  -webkit-box-shadow: none;
  box-shadow: none;
}
body.theme-default .left-menu .menu::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.1);
  border: 8px solid #e8ebee;
  border-radius: 10px;
  -webkit-box-shadow: none;
  box-shadow: none;
}
body.theme-default .left-menu .menu::-webkit-scrollbar-thumb:hover {
  border-right-width: 6px;
  border-left-width: 6px;
}
body.theme-default .left-menu .menu::-webkit-scrollbar-thumb:horizontal {
  min-width: 40px;
}
body.theme-default .left-menu .menu::-webkit-scrollbar-thumb:vertical {
  min-height: 40px;
}
body.theme-default .left-menu .menu li a {
  font-family: 'Roboto';
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
  line-height: normal;
  text-transform: none;
  text-decoration: none;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.8);
}
body.theme-default .left-menu .menu li a:before {
  background-color: rgba(0, 0, 0, 0.8);
}
body.theme-default .left-menu .menu li a:hover {
  background-color: rgba(62, 54, 32, 0.05);
}
body.theme-default .left-menu .menu li a.selected {
  background-color: rgba(62, 54, 32, 0.08);
}
body.theme-default .left-menu .menu li ul > li:nth-child(2n) > a:before {
  background-color: rgba(0, 0, 0, 0.2);
}
body.theme-default .left-menu .version {
  border-color: #d4d4d4;
  font-family: 'Roboto';
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
  line-height: normal;
  text-transform: none;
  text-decoration: none;
  letter-spacing: 1px;
  line-height: 25px;
  color: rgba(0, 0, 0, 0.5);
}
body.theme-default .main-container {
  background-color: #ffffff;
}
body.theme-default .main-container h1 {
  font-family: 'Roboto Light', 'Roboto Regular', 'Roboto';
  font-weight: 300;
  font-style: normal;
  font-size: 28px;
  line-height: normal;
  text-transform: none;
  text-decoration: none;
  letter-spacing: 1px;
  color: rgba(0, 0, 0, 0.8);
}
body.theme-default .main-container h3 {
  font-family: 'Roboto Medium', 'Roboto Regular', 'Roboto';
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  line-height: normal;
  text-transform: none;
  text-decoration: none;
  line-height: 25px;
  color: rgba(0, 0, 0, 0.7);
  font-family: 'Roboto Regular', 'Roboto';
}
body.theme-default .main-container .text {
  font-family: 'Roboto';
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  line-height: 1.7em;
  text-transform: none;
  text-decoration: none;
  line-height: 25px;
  color: rgba(0, 0, 0, 0.7);
}
body.theme-default .main-container .text .link {
  color: #6699ff;
}
body.theme-default .main-container .small-text {
  font-family: 'Roboto';
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
  line-height: normal;
  text-transform: none;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.7);
  line-height: 20px;
}
body.theme-default .main-container .nav-menu {
  border-bottom-color: rgba(223, 226, 232, 0.6);
}
body.theme-default .main-container .nav-menu ul li {
  font-family: 'Roboto Medium', 'Roboto Regular', 'Roboto';
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  line-height: normal;
  text-transform: none;
  text-decoration: none;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.5);
}
body.theme-default .main-container .nav-menu ul li.active {
  color: rgba(0, 0, 0, 0.7);
  border-bottom-color: #6699ff;
}
body.theme-default .main-container .nav-menu ul li:hover {
  background-color: rgba(62, 54, 32, 0.05);
}
body.theme-default .main-container .nav-menu .right-link {
  font-family: 'Roboto';
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
  line-height: normal;
  text-transform: none;
  text-decoration: none;
  color: #6699ff;
}
body.theme-default .main-container .nav-menu .right-link .arrow-icon {
  font-size: 18px;
}
body.theme-default .main-container .image-preview img {
  border-color: #d4d4d4;
}
body.theme-default .main-container .split {
  border-bottom-color: #d4d4d4;
}
body.theme-default .main-container .code .links a {
  font-family: 'Roboto';
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
  line-height: normal;
  text-transform: none;
  text-decoration: none;
  color: rgba(0, 0, 255, 0.99607843);
}
body.theme-default .main-container .blue-button {
  font-family: 'Roboto Medium', 'Roboto Regular', 'Roboto';
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  line-height: normal;
  text-transform: none;
  text-decoration: none;
  font-size: 13px;
  color: #6699ff;
  text-transform: uppercase;
  background-color: #eafcff;
  border: none;
  border-radius: 3px;
  -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  letter-spacing: 1px;
}
body.theme-default.fixed-header .nav-menu > div {
  background-color: #ffffff;
  position: fixed;
  -moz-box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
}
@media (max-width: 720px) {
  body.theme-default .left-menu .close,
  body.theme-default .left-menu-toggle {
    color: rgba(0, 0, 0, 0.7);
  }
  body.theme-default .left-menu .close:hover,
  body.theme-default .left-menu-toggle:hover {
    background-color: rgba(62, 54, 32, 0.05);
  }
}
