@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700,700i,800,800i&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600');
html {
  overflow: hidden;
  background-size: cover !important;
  background-position: left center !important;
  background-color: #24282f;
  overflow: auto;
}
.font-12-text {
  font-family: 'Open Sans';
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  letter-spacing: 2px;
  color: #7F7F7F;
  text-align: right;
  line-height: 25px;
}
body,
html,
form {
  margin: 0;
  padding: 0;
  width: 100%;
}
body {
  overflow: hidden;
  position: relative;
}
form {
  min-width: 0px;
}
a:active,
input:active,
a:focus,
input:focus {
  outline: none;
}
a {
  text-decoration: none;
}
button {
  background: none;
  cursor: pointer;
  border: none;
  box-sizing: border-box;
  padding: 0;
}
button:active,
button:focus {
  outline: none;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.material-icons {
  font-size: 24px;
}
.section,
section {
  margin: 0 auto;
  width: 100%;
  max-width: 1310px;
  box-sizing: border-box;
  padding: 0 10px;
}
.welcome {
  position: relative;
  padding-top: 180px;
}
.welcome .to-home {
  width: 130px;
  display: block;
  margin-bottom: 16px;
}
.welcome .to-home img {
  width: 100%;
  transform: translateX(-8px) translateY(-11px);
}
.welcome p {
  margin: 0;
  font-family: 'Open Sans Semibold', 'Open Sans';
  font-weight: 600;
  font-style: normal;
  font-size: 18px;
  letter-spacing: 0.5px;
  line-height: 25px;
  color: #EAEAEA;
  letter-spacing: .9px;
  max-width: 420px;
}
.welcome p a {
  color: #00B1FF;
}
.welcome p b {
  color: #00FF2E;
}
.welcome .images-list {
  padding: 20px 0;
}
.welcome .images-list img {
  display: inline-block;
  vertical-align: middle;
  height: 47px;
  margin-right: 10px;
}
.blue-button {
  position: relative;
  background: url(../images/btn-background.png);
  display: inline-block;
  margin-top: 3px;
  width: 250px;
  box-sizing: border-box;
  padding: 16px 0;
  text-align: center;
  border-radius: 24px;
  background-size: cover;
}
.blue-button:before {
  background-color: rgba(0, 106, 255, 0.8);
  content: '';
  clear: both;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 22px;
}
.blue-button span {
  font-size: 13px;
  font-family: 'Open Sans Semibold', 'Open Sans';
  font-weight: 600;
  font-style: normal;
  letter-spacing: 2px;
  line-height: normal;
  text-transform: none;
  color: #ffffff;
  position: relative;
  text-transform: uppercase;
}
.widgets-preview-box {
  margin: 210px 0 0 -30px;
  width: calc(100% + 40px);
  background-color: #fff;
  max-width: 800px;
}
.widgets-preview-box .head {
  padding: 29px 30px;
}
.widgets-preview-box .head img {
  width: 51px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}
.widgets-preview-box .head label {
  font-family: 'Roboto Bold', 'Roboto Regular', 'Roboto';
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  letter-spacing: 2px;
  color: #232630;
  line-height: 25px;
  display: inline-block;
  vertical-align: middle;
  margin: 1px;
}
.widgets-preview-box .head small {
  font-family: 'Open Sans';
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  letter-spacing: 2px;
  color: #7F7F7F;
  text-align: right;
  line-height: 25px;
  float: right;
  line-height: 1;
}
.widgets-preview-box .body {
  padding-left: 89px;
  padding-bottom: 70px;
}
.widgets-preview-box .body h1 {
  font-family: 'Open Sans Extrabold', 'Open Sans';
  font-weight: 800;
  font-style: normal;
  font-size: 36px;
  letter-spacing: 0.5px;
  color: #000000;
  line-height: 25px;
  margin: 27px 0 23px;
}
.widgets-preview-box .body p {
  font-size: 16px;
  line-height: 25px;
  font-family: 'Open Sans';
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.69803922);
}
.widgets-preview-box .body ul {
  display: block;
  padding: 10px 0;
  margin-left: -10px;
  margin-bottom: 42px;
}
.widgets-preview-box .body ul li {
  display: inline-block;
  vertical-align: middle;
  font-family: 'Open Sans';
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.69803922);
  text-align: left;
  line-height: 20px;
  width: 21%;
  margin-bottom: 19px;
  margin-right: 4px;
}
.widgets-preview-box .body ul li a {
  border-radius: 4px;
  color: rgba(0, 0, 0, 0.69803922);
  height: 30px;
  padding: 4px 0 0;
  box-sizing: border-box;
  white-space: nowrap;
}
.widgets-preview-box .body ul li a i {
  font-size: 24px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 14px;
  margin-left: 10px;
  margin-top: -1px;
}
.widgets-preview-box .body ul li a.new:after {
  content: 'NEW';
  font-family: 'Open Sans Extrabold', 'Open Sans';
  font-weight: 800;
  font-style: normal;
  font-size: 11px;
  letter-spacing: 2px;
  color: #44CA69;
  text-align: left;
  display: block;
  padding-left: 50px;
  margin-top: -7px;
}
.widgets-preview-box .body ul li a:hover {
  background-color: rgba(31, 7, 89, 0.09803922);
}
.widgets-preview-box .body a {
  display: block;
}
.examples-box div {
  border-radius: 4px;
  -moz-box-shadow: 0px 10px 35px rgba(9, 40, 68, 0.8);
  -webkit-box-shadow: 0px 10px 35px rgba(9, 40, 68, 0.8);
  box-shadow: 0px 10px 35px rgba(9, 40, 68, 0.8);
  position: absolute;
  left: 730px;
  top: 630px;
}
.examples-box div img {
  display: block;
  border-radius: 4px;
}
.examples-box div:nth-child(1) {
  left: 730px;
  top: 30px;
}
.examples-box div:nth-child(2) {
  left: 1090px;
  top: 350px;
}
.examples-box div:nth-child(3) {
  left: 720px;
  top: 320px;
}
.examples-box div:nth-child(4) {
  left: 550px;
  top: 300px;
}
.examples-box div:nth-child(5) {
  left: 1050px;
  top: 10px;
}
.examples-box div:nth-child(6) {
  left: 910px;
  top: 80px;
}
.examples-box div:nth-child(7) {
  left: 1280px;
  top: 330px;
}
.examples-box div:nth-child(8) {
  left: 1170px;
  top: 580px;
}
.examples-box div:nth-child(9) {
  left: 890px;
  top: 750px;
}
.examples-box div:nth-child(10) {
  left: 860px;
  top: 440px;
}
.blue-circle {
  border-width: 0px;
  position: absolute;
  z-index: -1;
  left: 448px;
  top: -111%;
  width: 1247px;
  height: 1262px;
  background: -webkit-linear-gradient(319.93921554deg, #0156fb 22%, #01fb97 107%);
  background: -moz-linear-gradient(130.06078446deg, #0156fb 22%, #01fb97 107%);
  background: linear-gradient(130.06078446deg, #0156fb 22%, #01fb97 107%);
  border: none;
  border-radius: 1000px;
  -moz-box-shadow: -20px 20px 100px rgba(0, 0, 0, 0.34901961);
  -webkit-box-shadow: -20px 20px 100px rgba(0, 0, 0, 0.34901961);
  box-shadow: -20px 20px 100px rgba(0, 0, 0, 0.34901961);
}
.red-circle {
  border-width: 0px;
  position: absolute;
  left: 1%;
  bottom: -22%;
  z-index: -1;
  width: 1357px;
  height: 1374px;
  background: -webkit-linear-gradient(233.54780416deg, #fb0159 15%, #3700ac 101%);
  background: -moz-linear-gradient(216.45219584deg, #fb0159 15%, #3700ac 101%);
  background: linear-gradient(216.45219584deg, #fb0159 15%, #3700ac 101%);
  border: none;
  border-radius: 1000px;
  -moz-box-shadow: -20px 20px 100px rgba(0, 0, 0, 0.34901961);
  -webkit-box-shadow: -20px 20px 100px rgba(0, 0, 0, 0.34901961);
  box-shadow: -20px 20px 100px rgba(0, 0, 0, 0.34901961);
}
footer {
  box-sizing: border-box;
  position: relative;
  padding-left: 17%;
  padding-top: 150px;
  padding-bottom: 53px;
}
footer .to-home {
  position: absolute;
  left: 0;
  top: 150px;
  width: 8%;
  max-width: 100px;
}
footer .to-home img {
  width: 100%;
}
footer ul {
  display: inline-block;
  vertical-align: top;
  width: 200px;
  margin-right: 11%;
}
footer ul li {
  display: block;
  font-family: 'Open Sans';
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.69803922);
  text-align: left;
  line-height: 20px;
  color: #fff;
  padding-top: 5px;
  margin-bottom: 15px;
}
footer ul li img {
  width: 100%;
  margin: -5px 0 0 0;
  display: block;
}
footer ul li a {
  color: #fff;
}
footer ul li a:hover {
  color: #00B1FF;
}
footer ul li.with-offset {
  margin-top: 98px;
}
@media (max-width: 600px) {
  .blue-circle {
    left: 218px;
  }
  .examples-box div:nth-child(1) {
    left: 470px;
  }
  .examples-box div:nth-child(2) {
    left: 520px;
  }
  .examples-box div:nth-child(4) {
    left: 240px;
    top: 10px;
  }
  .examples-box div:nth-child(5) {
    left: 310px;
    top: -60px;
  }
  .widgets-preview-box .body {
    padding-left: 30px;
    padding-right: 10px;
  }
  .widgets-preview-box .body ul {
    text-align: center;
  }
  .widgets-preview-box .body ul li {
    width: 42%;
  }
  .widgets-preview-box .body .blue-button {
    margin: 0 auto;
  }
  footer {
    padding-left: 30px;
    padding-top: 100px;
    padding-bottom: 10px;
  }
  footer .to-home {
    left: 50%;
    top: 25px;
    width: 70px;
    transform: translateX(-50%);
  }
  footer ul {
    margin-right: 10px;
    width: calc(50% - 50px);
  }
  footer ul li img {
    margin-top: 2px;
  }
}
@media (max-width: 360px) {
  .welcome p {
    font-size: 13px;
  }
  .welcome .images-list img {
    height: 40px;
  }
  .widgets-preview-box {
    margin-top: 40px;
  }
  footer ul {
    margin-right: 0;
    width: 100%;
  }
  footer ul li.with-offset {
    margin-top: 0;
  }
  footer ul li img {
    width: 150px;
  }
}
