<script id="rc-users-user-item-template" type="text/x-kendo-template">
    <li
        data-bind="click: userClick"
    >
        <div>#: name #</div>
        <i class="material-icons">
            done
        </i>
    </li>
</script>

<script id="rc-users-button-item-template" type="text/x-kendo-template">
    <li
        data-bind="click: onButtonClick"
    >
        #: name #

        <i class="material-icons">
            chevron_right
        </i>
    </li>
</script>

<div id='rc-users-template'>
    <div class="rc-users w-popup">
        <div class="search-input">
            <button
                class="find-button"
                type="button">
                <i class="material-icons">
                    search
                </i>
            </button>

            <input
                data-value-update="keyup"
                data-bind="
                    value: searchStr,
                    events: {
                        change: searchStrChange,
                        keyup: searchStrChange
                    }
                "
                placeholder="Поиск"
                type="text"/>
            <span></span>
        </div>

        <ul
            data-template="rc-users-button-item-template"
            data-bind="source: actionButtons"
            class="action-buttons"></ul>

        <ul
            data-template="rc-users-button-item-template"
            data-bind="source: buttons"

            class="buttons"
        ></ul>

        <!--     <span data-bind="invisible: valuesExists" class="empty-label">
                Не найдено
            </span> -->

        <ul
            data-template="rc-users-user-item-template"
            data-bind="
                visible: valuesExists,
                source: values
            "

            class="values">
        </ul>

        <div class="load-process rc-loader" data-bind="visible: showLoader">
            <div class="wrapper size-3">
                <div class="pie spinner"></div>
                <div class="pie filler"></div>
                <div class="mask"></div>
            </div>
        </div>

        <span
            data-bind="
                visible: valuesExists,
            "
            class="line"></span>
        <ul
            data-template="rc-users-user-item-template"
            data-bind="source: found"

            class="found">
        </ul>
    </div>
</div>
