<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{htmlWebpackPlugin.options.title}}</title>
    {{#if htmlWebpackPlugin.options.requireScript}}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.6/require.min.js"></script>
    {{/if}}
    {{#if htmlWebpackPlugin.options.cdnScript}}
        <script type="text/javascript" src="{{htmlWebpackPlugin.options.cdnScript}}"></script>
    {{/if}}
</head>
<body>
<header>
    <h1>{{htmlWebpackPlugin.options.title}}</h1>
</header>
<main class="theme-dark">
    <div class="container"></div>
    <button id="sb">КНОПКИ</button>
    <div style="width: 640px;" id="video-result"></div>
    {{#if htmlWebpackPlugin.options.requireScript}}
        <script>
            require(['{{htmlWebpackPlugin.options.requireScript}}'], function (rcAddvideo) {
                document.getElementById('sb').addEventListener('click', function (e) {
                    var v = rcAddvideo({
                        selector: '.container'
                    }, function (video) {
                        if (video) {
                            document.getElementById('video-result').innerHTML = v.getHtml(video);
                        }
                    });
                })
            })
        </script>
    {{/if}}
</main>
</body>
</html>