<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{htmlWebpackPlugin.options.title}}</title>
    {{#if htmlWebpackPlugin.options.requireScript}}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.6/require.min.js"></script>
    {{/if}}
    {{#if htmlWebpackPlugin.options.cdnScript}}
        <script type="text/javascript" src="{{htmlWebpackPlugin.options.cdnScript}}"></script>
    {{/if}}
</head>
<body>
<header>
    <h1>{{htmlWebpackPlugin.options.title}}</h1>
</header>
<main>
    <div class="container"></div>
    <button id="sb">ГОРОДА</button>
    {{#if htmlWebpackPlugin.options.requireScript}}
        <script>
            require(['{{htmlWebpackPlugin.options.requireScript}}'], rcCity => {
                const rrw = ['Пипица', 'Хабара', 'Мимозыря', 'Ендовочник', 'Яга', 'Волглый', 'Алкать', 'Анахорет', 'Яхон', 'Шепотник', 'Ужик', 'Торок', 'Анчутки', 'Титла', 'Талан', 'Ококоветь', 'Супря', 'Студенец', 'Странь', 'Наопако', 'Мужатица', 'Любительный', 'Звездочетство', 'Анчутки', 'Вавакать', 'Взбутусить', 'Выдень', 'Копырзиться', 'Наопако', 'Нюни', 'Огуртво', 'Ономнясь', 'Сарынь', 'Странь', 'Сычёный'];

                const getEntity = (params, callback, { beforeWords = '', afterWords = '', specialProperty = null }) => {
                    const items = [];
                    let i = 0;

                    while (i < parseInt(Math.random() * 10)) {
                        items.push({
                            Code: Math.random().toString(36).substring(7),
                            Id: i + 1,
                            [specialProperty]: params[specialProperty],
                            Title: beforeWords + rrw[parseInt(Math.random() * rrw.length)] + afterWords
                        });

                        i++;
                    }

                    if (callback) callback(items);
                }

                document.getElementById('sb').addEventListener('click', e => {
                    rcCity({
                        help: 'Just help',
                        selector: '.container',
                        choiceMode: 1,
                        getCountries: (params, callback) => {
                            getEntity(params, callback, { beforeWords: 'Королевство ' });
                        },
                        getAreas    : (params, callback) => {
                            getEntity(params, callback, { afterWords: ' область', specialProperty: 'CountryId' });
                        },
                        getCities   : (params, callback) => {
                            getEntity(params, callback, { specialProperty: 'RegionId' });
                        },
                    }, (cities, areas) => {
                        console.log(cities, areas)
                    });
                })
            })
        </script>
    {{/if}}
</main>
</body>
</html>
