<div id='rc-city-template'>
    <div
            data-bind="
            css: {
                popup-mode: popupMode
            }
        "
            class="rc-city w-popup"
    >
        <button
                style="display: none;"
                class="close-button"
                data-bind="
                visible: popupMode,
                click: close,
            "
                rc-tooltip="Закрыть"
                type="button">
            <i class="material-icons">
                close
            </i>
        </button>

        <h2
                data-bind="text: title"
                class="title">Выбор города</h2>
        <label
                data-bind="text: description"
                class="description">Выберите города, который вы хотите читать в ленте.</label>

        <div class="colomns">
            <div>
                <script id="widget-city-country-item-template" type="text/x-kendo-template">
                    <li
                            data-bind="
                            click: selectCountry,
                            css: {
                                active: checkCountryIsActive
                            }
                        "
                            title="#: Code #"
                    >#: Title #</li>
                </script>

                <ul
                        data-template="widget-city-country-item-template"
                        data-bind="source: countries"
                >
                </ul>


                <script id="widget-city-area-item-template" type="text/x-kendo-template">
                    <li
                            data-bind="
                            click: openArea,
                            css: {
                                left-button: withAreasMode,
                                with-button: withAreasMode,
                                active: checkAreaIsActive,
                                selected: checkAreaIsSelected,
                            }
                        "
                            title="#: Code #"
                    >
                        # if (Id) { #
                        <button
                                data-bind="
                                    click: selectArea,
                                    visible: withAreasMode
                                "
                                type="button">
                            <i class="material-icons add">
                                add
                            </i>
                            <i class="material-icons remove">
                                remove
                            </i>
                        </button>
                        # } #
                        #: Title #
                    </li>
                </script>

                <ul
                        data-template="widget-city-area-item-template"
                        data-bind="source: areas"
                >
                </ul>
            </div>

            <div>
                <script id="widget-city-city-item-template" type="text/x-kendo-template">
                    <li
                            data-bind="
                            click: selectCity,
                            invisible: checkCitySelected
                        "
                            title="#: Code #"
                    >#: Title #</li>
                </script>
                <ul
                        data-template="widget-city-city-item-template"
                        data-bind="source: cities">
                </ul>
            </div>

            <div>
                <label class="input-with-icon search-panel">
                    <i class="material-icons icon">
                        search
                    </i>
                    <input
                            data-bind="
                            value: searchStr,
                            events: {
                                keyup: searchCity,
                                change: searchCity,
                            }
                        "
                            data-value-update="keyup"
                            class="simple-input" name="city" placeholder="Поиск города" type="text">
                    <i class="line"></i>
                </label>

                <label class="small-gray-label">Выбрано:</label>

                <script id="widget-city-selected-city-item-template" type="text/x-kendo-template">
                    <li
                            class="with-button right-button">
                        #: Title #

                        <button
                                data-bind="
                                click: unselectCity
                            "
                                type="button">
                            <i class="material-icons">
                                close
                            </i>
                        </button>
                    </li>
                </script>


                <ul
                        data-template="widget-city-selected-city-item-template"
                        data-bind="source: selectedCities"
                >
                </ul>

                <script id="widget-city-selected-area-item-template" type="text/x-kendo-template">
                    <li
                            class="with-button right-button">
                        #: Title #

                        <button
                                data-bind="
                                click: unselectArea
                            "
                                type="button">
                            <i class="material-icons">
                                close
                            </i>
                        </button>
                    </li>
                </script>


                <ul
                        data-template="widget-city-selected-area-item-template"
                        data-bind="source: selectedAreas"
                >
                </ul>
            </div>
        </div>

        <div class="bottom">
            <p class="small-text">
                <span
                        data-bind="html: help"
                ></span>
            </p>

            <div class="bottom-buttons">
                <button
                        data-bind="
                        click: close
                    "
                        class="white-button lite-mode" type="button">Отмена
                </button>

                <button
                        data-bind="
                        click: saveIt
                    "
                        class="white-button" type="button">Сохранить
                </button>
            </div>
        </div>

    </div>
</div>