@import '../../styles/theme.dark.less';
@import '../../styles/rc.widgets.theme.less';

.theme-dark {
  .w-popup {
    &.rc-city {
      .container-shadow();
      background-color: @main-color;

      & > .title {
        .font-18-title();
        color: @txt-normal-color;
      }
      & > .description {
        .font-15-body();
        color: @txt-placeholder-color;
      }

      .colomns {
        & > div {
          .webkit-scrollbar(@bg-color: @main-color);
          border-color: @divider-color;
          ul {
            border-bottom-color: @divider-color;
            li {
              .font-13-body();
              color: @txt-normal-color;

              &.with-button {
                button {
                  color: @txt-normal-color;
                  &:hover {
                    background-color: @hover-color;
                  }
                }
              }

              &:hover {
                background-color: @hover-color;
              }

              &.selected {
                background-color: @bg-main-color;
              }
              &.active {
                background: @main-header-color;
              }
            }
          }
        }
      }
      .bottom {
        .bottom-buttons {
          border-color: @border-color;
          background-color: @main-2n-color;
        }
      }

      &.popup-mode {
        .close-button {
          color: @txt-normal-color;
          &:hover {
            background-color: @hover-color;
          }
        }
      }
    }
    @media (max-width: 590px) {
      &.rc-city {
        .colomns {
          & > div {
            &:nth-child(2),
            &:nth-child(1) {
            }
            &:nth-child(3) {
            }
          }
        }
      }
    }

    @media (max-width: 460px) {
      &.rc-city {
        .title {
          .font-16-body();
        }
        .description {
          .font-13-body();
        }
        .colomns {
          & > div {
            &:nth-child(2),
            &:nth-child(1) {
            }
            &:nth-child(3) {

            }
          }
        }
      }
    }
  }
}