<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{htmlWebpackPlugin.options.title}}</title>
    {{#if htmlWebpackPlugin.options.requireScript}}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.6/require.min.js"></script>
    {{/if}}
    {{#if htmlWebpackPlugin.options.cdnScript}}
        <script type="text/javascript" src="{{htmlWebpackPlugin.options.cdnScript}}"></script>
    {{/if}}
</head>
<body>
<header>
    <h1>{{htmlWebpackPlugin.options.title}}</h1>
</header>
<main class="theme-dark">
    <div class="container"></div>
    <button id="sb">ПОЛЕ</button>
    {{#if htmlWebpackPlugin.options.requireScript}}
        <script>
            require(['{{htmlWebpackPlugin.options.requireScript}}'], rcField => {
                document.getElementById('sb').addEventListener('click', e => {
                    const field = {
                        Placeholder: 'Введите текст',
                        Type: 'time',
                        MaxTime: "13:00",
                        MinTime: "10:00",
                        //Maxlength: 3, // Опционально
                        //Minlength: 1, // Опционально
                        Tooltip: 'Подсказка над полем выше. Текст'//, // Опционально
                        //Mask: "(999) 0000" // Опционально
                    };

                    rcField({
                        selector: '.container',
                        pageX: e.pageX,
                        pageY: e.pageY,
                        field: field,
                    }, values => {
                        console.log(values);
                    })
                })
            })
        </script>
    {{/if}}
</main>
</body>
</html>
