<div id='rc-field-template'>
    <div class="rc-field w-popup popup-mode">
        <div class="container">
            <div
                data-bind="
                    html: help,
                    visible: help
                "
                class="help"></div>

            <input
                data-bind="
                    value: value,
                    events: {
                        keypress: onKeypress
                    }
                "
                type="text"
                class="simple-input"/>
        </div>
    </div>
</div>
